[Desktop Entry]
Name=pgAdmin 4
Comment=PostgreSQL frontend
Comment[pl]=Narzêdzie do PostgreSQL
Exec=pgadmin4
Icon=pgadmin4
Terminal=false
Type=Application
Categories=Database;System;
DocPath=/usr/share/pgadmin4/docs/en_US/index.html
# vi: encoding=utf-8
